body{
    font-family: Arial, san-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align:center;
}

#todo-form {
    display: flex;
    align-items: center;
    margin: 20px;
}

#todo-input{
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
}

button{
    cursor: pointer;
    height: 40px;
}

ul {
    list-style: none;
    padding: 0
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    cursor: pointer;
}

.done .task-content{
    text-decoration: line-through; 
    color: #bbb;
}

a {
    text-decoration: none;
}